[Unit]
Description=xpd-shield eBPF Agent
After=network.target

[Service]
Type=simple
ExecStart=/opt/xpd-shield/xpd-shield
WorkingDirectory=/opt/xpd-shield
Restart=on-failure
Environment="API_URL=http://{{ groups['monitoring'][0] }}:8081/api/threats/banned"

[Install]
WantedBy=multi-user.target
