[honeypot]
${honeypot_ip} ansible_user=azureuser ansible_port=22222 ansible_ssh_private_key_file=~/.ssh/id_rsa_azure

[snare]
${snare_ip} ansible_user=azureuser ansible_port=22222 ansible_ssh_private_key_file=~/.ssh/id_rsa_azure

[monitoring]
${monitoring_ip} ansible_user=azureuser ansible_port=22222 ansible_ssh_private_key_file=~/.ssh/id_rsa_azure

[all:vars]
cosmos_db_uri="${cosmos_db_uri}"
monitoring_ip="${monitoring_ip}"
